## smart contract related ##
web3 
py-solc
eth-testrpc

## dependencies for interaction with ethereuem ##
py-ecc
pytest
sympy
ipython
jupyter

## dependencies for trie ##
leveldb

## dev ##
pylint
rope
black
# to create venvs 
virtualenv


